<nav class="nav">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink class="nav-item" href="projects">Projects</NavLink>
    <NavLink class="nav-item" href="providers">Providers</NavLink>
    <NavLink class="nav-item" href="tasks">Tasks</NavLink>
    <NavLink class="nav-item" href="runs">Runs</NavLink>
</nav>
